.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    width: 100%;
    background-color: #003585;
}

.search {
    height: 50px;
    max-width: 727px;
    width: 100%;
}

.search input {
    color: #7A99C8;
    height: 100%;
    width: 85%;
    padding-left: 40px;
    border: 1px solid #fff;
    border-radius: 30px 0 0 30px;
}

input::placeholder {
    color: #7A99C8;
}

.search button {
    color: #fff;
    background-color: #003585;
    height: 100%;
    width: 15%;
    border: 1px solid #fff;
    border-radius: 0 30px 30px 0;
}

.btns {
    width: 170px;
}

.btns, a, span, .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns a {
    gap: 10px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.counter {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #A7F65C;
    color: #003585;
}

span.counter {
    font-size: 11px;
    justify-content: center;
}

