/* === BANNER === */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #003585;
}

.banner h1 {
  color: #fff;
  text-shadow: 1px 2px 5px #000;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 55px;
}

.banner h1 span {
  text-transform: lowercase;
  font-weight: 500;
}

.bannerBtns {
  margin-top: 40px;
  width: 310px;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  width: 145px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
}

button.whiteBtn {
  color: #003585;
}

button.greenBtn {
  color: #a7f65c;
  background-color: transparent;
  border: 1px solid #a7f65c;
}

.bannerContent {
  position: relative;
}

.bannerContent img {
  margin-top: 50px;
  height: 535px;
}

.specialPrice {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 65%;
  right: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #a7f65c;
  color: #003585;
}

.specialPrice h3 {
  font-size: 22px;
  font-weight: 600;
}

/* === POPULAR === */
.pop-head,
.btns,
ul,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-head {
  padding-left: 30px;
  margin: 60px 0;
  color: #003585;
}

.pop-head h2 {
  font-size: 27px;
  font-weight: 600;
}

.pop-head .btns {
  width: 750px;
  height: 45px;
}

.pop-head li {
  justify-content: center;
  width: 140px;
  height: 100%;
  border: 1px solid #003585;
  color: #003585;
  border-radius: 20px;
}

.pop-head a {
  font-weight: 500;
  color: #003585;
  text-decoration: none;
}

.pop-head .active {
  background-color: #a7f65c;
  border: none;
}

.pop-head .active a {
  color: #fff;
  font-weight: 700;
}

/* === AD === */
.ad {
  display: flex;
  align-items: center;
  position: relative;
} 

.adText {
  padding: 70px 0;
  height: 100%;
  position: absolute;
  right: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.adText h2 {
  font-size: 40px;
  color: #A7F65C;
}

.adText p {
  color: #fff;
  text-align: center;
}

.adText .greenBtn {
  color: #fff;
}

/* === BRANDS === */
.brands {
  padding: 100px 0;
}